extends base

block content 
  h4 Change Title of Video
  form(action=`/api/videos/${video.id}/edit` method="POST")
    input(name="title" placeholder="Video Title", value=video.title)
    input(value="Save", type="submit")